# Empty CSS file for your own CSS

body{
	font-family: 'Raleway', sans-serif;
}
//margin-reutilizaveis

.m-t-20{
 margin-top: 20px ;
}



table {
        font-size: 12px;
      }
      #map {
         float: left;
         height: 100%;
      }
      .mapstart{
width: 100%;

      }

      .resizemap{
        width: 65% !important;
      }
      #listing {
      position: absolute;
    width: 35%;
    height: 100%;
    overflow: auto;
 
    cursor: pointer;
    overflow-x: hidden;
    right: 0;
    min-width: 200px;
    float: 	right;
   
      }
      #findhotels {
        position: absolute;
        text-align: right;
        width: 100px;
        font-size: 14px;
        padding: 4px;
        z-index: 5;
        background-color: #fff;
      }
      #locationField {
        width: 100%;
        z-index: 5;
      }
      #controls {
        position: absolute;
        left: 300px;
        width: 140px;
        top: 0px;
        z-index: 999;
        background-color: #fff;
      }
      #autocomplete {
        width: 100%;
      }
      #country {
        width: 100%;
      }
      .placeIcon {
       
        height: 34px;
        margin: 4px;
      }
      .hotelIcon {
        width: 24px;
        height: 24px;
      }
      #resultsTable {
           border-collapse: collapse;
    width: 100%;
          }

       #resultsTable  td {
    height: 44px;
    padding: 10px
}

       #resultsTable > tbody > tr >  td:first-child {
    width: 	55px;

}
      #rating {
        font-size: 13px;
        font-family: Arial Unicode MS;
      }
      .iw_table_row {
        height: 18px;
      }
      .iw_attribute_name {
        font-weight: bold;
        text-align: right;
      }
      .iw_table_icon {
        text-align: right;
      }
.pac-container {
    background-color: #fff;
    position: absolute!important;
    z-index: 9999;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 	100%;
}

.pac-item {
    height: 33px;
    line-height: 35px;
    font-size: 14px;
    width: 100%;
    color:#2b2c5c;
    font-family: 'Raleway', sans-serif;
}

.pac-item-query{
   font-size: 	14px;
   color: #EE4123;
   font-family: 'Raleway', sans-serif;


}





.map-icon-label .map-icon {
	font-size: 24px;
	color: #FFFFFF;
	line-height: 48px;
	text-align: center;
	white-space: nowrap;
}


//Configurações que sobreescrevem o Bootstrap
.modal-content{
	border-top: 8px solid #2b2c5c;
	border-radius: 0 !important;
}


input#autocomplete2 {
    margin-top: 8px;
    padding-left: 30px;
}



.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    position: relative;
    margin-bottom: 0px;
}

tr.information:hover {
    background-color: #f8f8f8;
}